@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #000; */
  color: black;
  background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
